<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>Lorem ipsumn lorem ipsumn</p>
 <div class="row">
                      <div class=" c-l-4 c-m-4 c-s-12 c-12 ">
                       <h3><a href="#" class=" maroon fs-20">Culture</a></h3>
                        <img class="imagestyle"   src="https://www.askmediagroup.com/wp-content/uploads/2018/04/Barcade_032-e1525096073218-307x187.jpg" alt="image">
                      </div>
                      <div class="col c-l-4 c-m-4 c-s-12 c-12 ">
                        <h3><a href="#" class=" maroon fs-20">Careers</a></h3>
                        <img class="imagestyle"  src="https://www.askmediagroup.com/wp-content/uploads/2018/04/Perks_couple_028-e1525095971979-307x187.jpg" alt="image">
                      </div>
                      <div class=" c-l-4 c-m-4 c-s-12 c-12 ">
                        <h3><a href="#" class=" maroon fs-20">Technology</a></h3>
                        <img class="imagestyle" src="https://www.askmediagroup.com/wp-content/uploads/2018/04/Whiteboard_029-e1525095903259-307x187.jpg" alt="image">
                      </div> 
                    </div >
              
<%= @time %>
My name is <%= @name %><br>
<link_to 
