 The below file contains folder tree with all the files
<h1><%= link_to 'files',files_path %> </h1>
<ul>
  <% @files.each do |file| %>
    <li>
      <%= link_to file, files_path(next: file) %> 
    </li>
   
  <% end %>
   <li>
      <b>
      <%= link_to "GoodBy" , say_goodby_path(name:"Grammy") %>
      </b>
    </li>
</ul>